body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:  #010101;
}
/* header start */
header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.main-menu ul li a{
    margin: 0 30px;
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
}
.main-menu ul li:last-child a{
    margin-right: 0;
}
.main-menu ul li:hover a{
    color: #fff !important;
}
.navbar-btn{
    border-color: transparent !important;
}
.navbar-btn:focus{
    box-shadow: none;
}
/* header end */
/* slider start  */
.slider-section{
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: #fcdb00;
}
.slider-content{
    padding-right: 59px;
}
.slider-content h1{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
}
.slider-content h2{
    margin-bottom: 15px;
    font-size: 20px;
    color: #313841;
}
.slider-content p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;;
    color: #555555;
}
.slider-social{
    margin-bottom: 40px;
}
.slider-social ul li i{
    font-size: 42px;
    margin-right: 25px;
}
.slider-ind-custom {
    right: 0;
    bottom: -15%;
    left: 0;
}
.slider-ind-custom [data-bs-target] {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
/* slider end  */
/* feature start */
.feature{
    padding-top: 115px;
    padding-bottom: 100px;
}
.section-title{
    padding: 0 160px;
}
.section-h1{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}
.section-p{
    font-size: 20px;
    line-height: 24px;
    color: #313841;
}
.single-feature{
    margin-top: 60px;
}
.feature-icon i{
    font-size: 50px;
    line-height: 52.47px;

}
.feature-content{
    padding-right: 20px;
}
.feature-content h3{
    font-size: 22px;
    line-height: 24px;
}
.feature-content p{
    line-height: 20px;
    color: #898989;
}
/* feature end */